<h1>Project - (Using jQuery)</h1>

<%= @project.name %><br /><br />
<%= link_to 'Edit', edit_jquery_project_path(@project) %> |
<%= link_to 'Delete', jquery_project_path(@project), :method => :delete, :confirm => "Are you sure?" %>

<h2>Tasks</h2>
<% for task in @project.tasks %>
  [&nbsp;<%= task.name %>&nbsp;] , &nbsp;
<% end %>

<br /><br />
<%= link_to 'Back', jquery_projects_path %>